.sc-renderer {
  position: relative;
  cursor: pointer;

  &-move {
    cursor: move;
  }
}

.sc-renderer__back {
  position: absolute;
  z-index: 1000;
}

.sc-renderer__stage {
  position: absolute;
  z-index: 1001;
}
